frontend/logs
frontend/project/project
frontend/project/target
frontend/target
frontend/conf/application.conf
backend/logs
backend/project/project
backend/project/target
backend/target
backend/src/main/resources/application.conf
backend/.lib