@(transfers: Vector[models.Transfer], user: models.User)(implicit flash: Flash)

@main("DRPBXACQ"){
  <div class="lead">@user.name @user.org</div>
  
  @if(flash.data.contains("success")){
    <div class="text-success well lead">@flash.get("success")</div><br>
  }

  <a class="btn btn-primary" href="/user/transfer">create transfer</a>
  <div class="lead">transfers</div>
  <table class="table table-striped">
  	<thead>
  	  <tr>
  	  	<th>id</th>
  	  	<th>date</th>
  	  	<th>status</th>
  	  </tr>
  	</thead>
  	<tbody>
	  @for(xfer <- transfers){
        <tr>
          <td><a href="/transfer/@xfer.id">@xfer.id</a></td>
          <td>@xfer.xferDate</td>
          @if(xfer.status == 1){ <td><div class="text-success">Pending Review</div></td> }
          @if(xfer.status == 2){ <td><div class="text-success">Approved -- To Be Transferred</div></td> }
          @if(xfer.status == 3){ <td><div class="text-danger">Cancelled</div></div></td> }
        </tr>
      }
	</tbody>
  </table>
}