@(listing: java.util.List[com.dropbox.core.DbxEntry], entry: com.dropbox.core.DbxEntry)
@transfer("DRPBXACQ"){
 
  <br />
  <h2>Start A Transfer</h2>
  <table class="table table-striped form-dbxentry">
    <tr>
      <th width="90%">name</th>
    </tr>
    @for(dbx_entry <- listing){
      <tr>
	@if(dbx_entry.isFile){
	  <td>@dbx_entry.name</td>
	}
	@if(dbx_entry.isFolder){
	  @defining(new String(new sun.misc.BASE64Encoder().encodeBuffer(dbx_entry.path.getBytes))) { path =>
	    <td>
	      <a href="/transfer/@path/view">@dbx_entry.path</a>
	    </td>
	  }
	}
      </tr>
    }
  </table>
}
