@(keyForm: Form[models.DonorModel], url: String)
@import helper._

<!DOCTYPE html>
<html>
  <head>
    <title>DRPBXCQ</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
  </head>
  <body>
     @form(routes.Donor.save()) {
      <div class="form-signin">
        <div class="text-center">
          <h2 class="form-signin-heading">DRPBXACQ<h2>
          <h4>1.) <a href="@url" target="_blank">Get a Dropbox Token</a></h4>
          <br>
          <h4>2.) Register w/ drpbxacq
          <br><br>
        </div>
        <fieldset>
          @helper.inputText(keyForm("email"), '_label -> "email")
          @helper.inputText(keyForm("name"), '_label -> "name")
          @helper.inputText(keyForm("org"), '_label -> "org")
          @helper.inputPassword(keyForm("password"), '_label -> "password")
          @helper.inputText(keyForm("token"), '_label -> "token") 
        </fieldset>   
        <button class="btn btn-lg btn-primary text-center" type="submit">Register</button>
        <br>
        <div style="position:relative;" class="text-center">or, <a href="/">login</a></div>
      </div>
    }
  </body>
</html>