@(pendingXfers: Vector[models.Transfer])

@admin("DRPBXACQ ADMIN"){
  <br />
  <div class="lead well text-primary bg-info">Pending Transfers</div>
  
  <table class="table table-striped form-dbxentry">
  	<tr>
  	  <th>date</th>
  	  <th>id</th>
  	  <th>organization</th>
  	  <th>
  	@for(xfer <- pendingXfers) {
  	  <tr>
  	    <td>@xfer.xferDate</td>
  	    <td>@xfer.id</td>
  	    <td>
  	    <td><a class="btn btn-primary" href="#">view</a></td>
  	  </tr>
  	}
  </table>
  <div class="lead well text-primary">Active Transfers</div>
  <div class="lead well text-primary">Completed Transfers</div>
}