@(pendingXfers: Vector[models.Transfer], activeXfers: Vector[models.Transfer], cancelledXfers: Vector[models.Transfer], users: Map[Long, String])

@admin("DRPBXACQ ADMIN"){
  <br />
  <div class="lead well text-primary bg-info">Pending Transfers</div>
  
  @if(pendingXfers.size > 0) {
    <table class="table table-striped form-dbxentry">
    	<tr>
    	  <th width="10%">date</th>
    	  <th width="30%">id</th>
    	  <th>organization</th>
    	  <th width="10%">
    	@for(xfer <- pendingXfers) {
    	  <tr>
    	    <td>@xfer.xferDate</td>
    	    <td>@xfer.id</td>
    	    <td>@users(xfer.userId)</td>
    	    <td><a class="btn btn-primary" href="/admin/transfer/@xfer.id">view</a></td>
    	  </tr>
    	}
    </table>
  } else{ <div class="lead bg-info">There are no pending transfers</div> }

  <div class="lead well text-primary">Active Transfers</div>
  @if(activeXfers.size > 0) {
    <table class="table table-striped form-dbxentry">
      <tr>
        <th width="10%">date</th>
        <th width="30%">id</th>
        <th>organization</th>
        <th>status</th>
        <th width="10%"/>
      @for(xfer <- activeXfers) {
        <tr>
          <td>@xfer.xferDate</td>
          <td>@xfer.id</td>
          <td>@users(xfer.userId)</td>
          @if(xfer.status == 2){ <td><div class="text-success">Approved -- To Be Transferred</div></td> }
          <td><a class="btn btn-primary" href="/admin/transfer/@xfer.id">view</a></td>
        </tr>
      }
    </table>
  } else{ <div class="lead bg-info">There are no active transfers</div> }


  <div class="lead well text-primary">Cancelled Transfers</div>
  @if(cancelledXfers.size > 0) {
    <table class="table table-striped form-dbxentry">
      <tr>
        <th width="10%">date</th>
        <th width="30%">id</th>
        <th>organization</th>
        <th width="10%"/>
      @for(xfer <- cancelledXfers) {
        <tr>
          <td>@xfer.xferDate</td>
          <td>@xfer.id</td>
          <td>@users(xfer.userId)</td>
          <td><a class="btn btn-primary" href="/admin/transfer/@xfer.id">view</a></td>
        </tr>
      }
    </table>
  } else{ <div class="lead bg-info">There are no cancelled transfers</div> }
}