@(xfers: scala.collection.SortedMap[Int, Vector[models.XferWeb]])(implicit flash: Flash)
@import java.util.Date
@import java.text.SimpleDateFormat

@admin("DRPBXACQ ADMIN"){
  
  @if(flash.data.contains("success")){
    <div class="bg-success">
      <span class="glyphicon glyphicon-ok"></span>
      <div class="lead">@flash.get("success")</div>
    </div>
  }
  <br>
  @for(i <- 1 to 4){
    @defining(xfers.get(i).get){ transfers =>
      @if(i == 1){ <div class="lead">pending transfers</div> }
      @if(i == 2){ <div class="lead">approved transfers</div> }
      @if(i == 3){ <div class="lead">active transfers</div> }
      @if(i == 4){ <div class="lead">complete transfers</div> }
      @if(i == 5){ <div class="lead">cancelled transfers</div> }
      @if(transfers.size > 0) {
        <div class=form-dbxentry>
          <table class="table table-striped form-dbxentry">
            <tr>
              <th width="10%">date</th>
              <th width="40%">title</th>
              <th>summary</th>
              <th>organization</th>
              <th>status</th>
              <th width="10%"></th>
            </tr>
            @for(xfer <- transfers) {
              <tr>
                @defining(new SimpleDateFormat("yyyy-MM-dd").format(new Date(xfer.xferDate))){ date =>
                  <td>@date</td>
                }
                <td>@xfer.title</td>
                <td>summary</td>
                <td />org</td>
                <td>@i</td>
                <td><a class="btn btn-primary" href="/admin/transfer/@xfer.id/show">view</a></td>
              </tr>
            }
          </table>
        </div>      
      } else { no transfers }
    }
  }
}