@(loginForm: Form[Login])(implicit flash: Flash)

<html>
    <head>
      <title>DRPBXCQ</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    </head>
    <body>

      <form class="form-signin" role="form" action="/admin" method="post">
      	<div class="bg-danger">@flash.get("denied")</div>
        <h2 class="form-signin-heading text-center">DRPBXACQ ADMIN</h2>
        <div class="form-group">
          <label>email</label>
          <input type="text" class="form-control" name="email" required autofocus>
        </div>
        <div class="form-group">
          <label>password</label>
          <input type="password" class="form-control" name="password" required>   
        </div>        
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>
    </body>
</html>