@(xfer: models.Transfer, user: models.User, files: Vector[models.File], summary: Map[String, Tuple2[Int, Long]])

@admin("drpbxacq admin") {

  <div class="lead">@xfer.id <br>Title: @xfer.title</div>
  <div class="lead">Donor Note:</div> 
  <div class="well" style="background-color:#fff">@xfer.donorNote</div>
  <table class="table table-striped">
    <tr>
      <th>transferred by</t>
      <th>organization</th>
      <th>trasfer date</th>
      <th>status</th>
    </tr>
    <tr>
      <td>@user.name</td>
      <td>@user.org</td>
      <td>@xfer.xferDate</td>
      @if(xfer.status == 1){ <td><div class="text-success">Pending Review</div></td> }
      @if(xfer.status == 2){ <td><div class="text-success">Approved -- To Be Transferred</div></td> }
      @if(xfer.status == 3){ <td><div class="text-danger">Cancelled</div></div></td> }
    </tr>
  </table>

  <div class="lead">Summary</div>
  <table class="table table-striped form-dbxentry">
    <tr>
      <th>ext</th>
      <th>count</th>
      <th>size</th>
    </tr>
    @for(filetype <- summary){
      <tr>
        <td>@filetype._1</td>
        <td>@filetype._2._1</td>

        <td>@scala.math.BigDecimal(((filetype._2._2 / 1024.00) / 1024.00)).setScale(2, BigDecimal.RoundingMode.HALF_UP).toDouble MB</td>
      </tr>      
    } 
  </table>

  <div class="lead">File Manifest</div>
  <div class="form-dbxentry">
  <table class="table table-striped">
  	<tr>
  	  <th>name</th>
      <th>path</th>
      <th>rev</th>
	    <th>size</th>
	    <th>status</th>
  	</tr>
    @for(file <- files){
      <tr>
      	<td><a href="#">@file.filename</a></td>
        <td>@file.path</td> 
        <td>@file.rev</td>
      	<td>@file.humanSize</td>
      	<td>@file.status</td>
      </tr>
    }
  </table>
  </div>
  <br />
  
  @if(xfer.status == 1) {

    <form method="post" action="/admin/approve" class="form-inline">
      <input type="submit" class="btn btn-primary" value="Approve Accession"> 
      <div class="form-group">
        <label class="sr-only">accession #</label>
        <input type="text" name="accessionId" placeholder="accession number"/>
      </div>
      <div class="form-group">
        <label class="sr-only">note</label>
        <input type="text" name="note" placeholder="note" size="50">
      </div>
      <input type="hidden" name="xferId" value="@xfer.id" />
    </form> 
  }

<br>

<form method="post" action="/admin/cancel" class="form-inline">
  <input type="submit" class="btn btn-danger" value="Cancel Transfer" />
  <div class="form-group">
    <label class="sr-only">reason</label>
    <input type="text" name="reason" placeholder="reason">
  </div>
  <input type="hidden" name="xferId" value="@xfer.id" />
</form>
}